<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>云阔-客户邮件</title>
</head>
<body>
<div align="center">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="text-align:center;background: #dfdfdf;padding: 30px 0;">
        <tr>
            <td>
                <table class="mail_page_box" width="720" cellpadding="0" cellspacing="0" style="text-align:center;background: #fdfdfd;font-family: microsoft yahei;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);margin: auto">
                    <tr>
                        <td align="center">
                            <table cellpadding="0" cellspacing="0" border="0" style="text-align: left;">
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                                <td valign="middle" style="padding-left: 62px;padding-top: 15px;padding-bottom: 10px;">
                                                    <img src="{$mail_background_img}yunkuo_logo.png" style="vertical-align: middle" alt="" title="">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="middle">
                                                    <img src="{$mail_background_img}yunkuo_label.png" style="vertical-align: middle" alt="" title="">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table cellpadding="0" cellspacing="0" width="660" style="text-align: left;">
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" style="padding-left:30px;padding-right: 30px;padding-top: 30px;">
                                            <tr>
                                                <td align="left">
                                                    <table cellpadding="0" cellspacing="0" style="text-align: left;font-size: 16px;color: #444">
                                                        <tr>
                                                            <td valign="middle">
                                                                <b>尊敬的{$customerName}：</b>
                                                            </td>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table width="100%" cellpadding="0" cellspacing="0" style="text-align: left;">
                                                        <tr>
                                                            <td style="text-indent: 28px;line-height: 28px;font-size: 14px;padding-top: 10px;padding-bottom: 20px;color: #444;">
                                                                您好！现呈上{$dateFmt}贵公司欲购买我司产品的详细清单，如需变更，请及时与我们取得联系。
                                                            </td>
                                                        </tr>
														<tr>
                                                            <td style="text-indent: 28px;line-height: 28px;font-size: 14px;padding-top: 10px;padding-bottom: 20px;color: #444;">
                                                                <b style="color: #2674c6;font-weight: normal;">具体产品清单，请您查收附件。</b>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table width="100%" cellpadding="0" cellspacing="0" style="text-align: left;">
                                                        <tr>
                                                            <td style="padding-top: 80px;font-size: 14px;color: #000;text-align: left;text-indent: 28px;">致</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-top: 8px;font-size: 14px;color: #000;text-align: left">礼！</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-top: 20px;padding-bottom: 8px;font-size: 14px;color: #000;text-align: right">
                                                                 发布时间：<i style="font-style: normal;color: #00b5ff;">{$sendDate}</i>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table width="100%" cellpadding="0" cellspacing="0" style="text-align: left;">
                                                        <tr>
                                                            <td style="border-top: 1px dotted #c9291c;"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table width="100%" cellpadding="0" cellspacing="0" style="text-align: left;padding-top: 10px;">
                                                        <tr>
                                                            <td style="text-align: left;font-size: 16px;height: 40px;padding: 0;">
                                                                <img src="{$mail_background_img}yunkuo_bt_logo.png" alt="">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: left;font-size: 14px;color: #444;height: 18px;padding: 0">地址：杭州市银湖创新中心9号楼</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: left;font-size: 14px;color: #444;height: 18px;padding: 0">电话：0571-23271188&nbsp;&nbsp;传真：0571-23271691</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: left;font-size: 12px;color: #444;height: 15px;padding: 0">Add:Buliding9,Yinhu Innovation Center,Hangzhou</td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top" style="text-align: left;font-size: 12px;color: #444;height: 50px;padding:0">Tel:0571-23271188&nbsp;&nbsp;Fax:0571-23271691</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>